.App {
  text-align: center;
  padding: 30px;
}

.PostList {
  text-align: left;
}


label, input, button {
  margin-left: 10px;
}

.comment {
  border: 1px solid black;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
}